<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Opensanca Certifier</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Opensanca Certifier</a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
        </ul>

        <% if user_signed_in? %>
          <div id="navbar-options">
            <div class="navbar-form navbar-right">
              <div class="btn-group user-dropdown">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <div id="my-account-button" class="ellipsis">
                    <%= current_user.email %>
                    <span class="caret"></span>
                  </div>
                </button>
                <ul class="dropdown-menu user-accounts">
                  <li><a href="#">Profile</a></li>
                  <li>
                    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                  </li>
                </ul>
              </div>
            </div>
        <% end %>
      </div>

    </div>
  </header>
  <div class="container master-container">
    <% if content_for?(:breadcumbs) %>
      <ul class="breadcrumb">
        <%= yield :breadcrumb %>
      </ul>
    <% end %>

    <% if notice %>
      <div class="alert alert-success fade in" data-alert="alert">
        <a class="close" data-dismiss='alert' href="#">×</a>
        <p><%= notice %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
